.text-center {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    width: 80%;       /* Largeur du body */
    margin: 0 auto;   /* Centre horizontalement */
    text-align: justify;
}

pre {
    background-color: #f9f9f9;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    padding: 20px;
}

h1, .h1 {
    color: #2c3e50;
    font-size: 2em;
}

h2, .h2 {
    color: #34495e;
    font-size: 1.5em;
}


h3, .h3 {
    color: #7f8c8d;
    font-size: 1.17em;
}

h4, .h4 {
    color: #95a5a6;
    font-size: 1em;
}

p{
    margin-bottom: 1em;
}

ul {
    list-style-type: disc; /* Style de la puce principale */
    margin-left: 5px;
    padding-inline-start: 12px; /* Indentation de la puce principale */
}

a {
    color: #2980b9;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid #2c3e50;
}

td, th {
    border: 1px solid #bdc3c7;
    padding: 8px;
}

.table-img {
    width: 100%;
}

.table-img td {
    border: none;
}

.table-img img {
    width: 100%;
}

.title {
    margin-top: 200px;
    margin-bottom: 200px;
}

.title-info {
    line-height: 1.6;
}

.logo {
    height: 100px;
    position: absolute;
    top: 0;
    display: block;
}

.cover {
    break-after: always;
}

@media print {

    body {
        max-width: 100%;
    }

    code.sourceCode {
        margin: -80px;
    }
    
    .page-break {
        page-break-after: always;
    }

    .logo {
        width: 4cm;
        height: auto;
    }

    .cover-info {
        position: absolute;
        bottom: 0;
    }
}

@page:first {
    @top-left {
        content: "";
        margin-top: 2cm;
    }
    @top-center {
    }
    @bottom-right-corner {
        content: "";
    }
}

@page {
    size: A4;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 2cm;
    margin-bottom: 2cm;             

    @top-left {
        padding-top: 30px;
        padding-right: 180px;
        padding-bottom: 50px;
    }
    @bottom-right-corner {
        content: counter(page) "/" counter(pages);
    }
}

